.weather-cards {
  @include flex($align: center, $justify: center);
  flex-wrap: wrap;
  margin-top: 20px;

  @include max-width-956 {
    width: 480px;
  }

  @include max-width-500 {
    width: 320px;
  }

  &__card {
    @include flex($align: center, $justify: flex-start, $direction: column);
    padding: 10px 10px;
    margin: 20px 10px 0 10px;
    min-width: 110px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.25);
    }

    &--date {
      font-size: 14px;
      opacity: 0.8;
    }

    &--icon-body {
      @include flex($align: center, $justify: center);
      margin-top: 10px;
      margin-right: 20px;
      position: relative;

      span {
        position: absolute;
        top: 0;
        right: -90%;
        img {
          height: 10px;
          width: 10px;
        }
      }
    }

    &--temp {
      margin-top: 10px;
      @include flex($align: center, $justify: center, $direction: column);

      &-max {
        font-weight: 500;
        font-size: 24px;
      }

      &-min {
        font-size: 20px;
      }
    }

    &-choosed {
      border: 1px solid $color-blue;
      background-color: $color-choosed-card;

      &:hover {
        background-color: $color-choosed-card-hover;
      }
    }
  }

  .active {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
