@mixin flex($direction: row, $align: initial, $justify: initial) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin max-width-956 {
  @media (max-width: 956px) {
    @content;
  }
}

@mixin max-width-500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin max-width-460 {
  @media (max-width: 460px) {
    @content;
  }
}
