$color-blue: #144dde;
$color-dark-blue: #0e43c8;
$color-grey: #7f7f86;
$color-choosed-card: rgba(80, 87, 119, 0.15);
$color-choosed-card-hover: rgba(100, 106, 133, 0.2);
$color-pink: #e33473;
$color-light-grey: #ebd6dd;
